# Create a new directory and enter it
# function md() {
#   mkdir -p "$@" && cd "$@"
# }

function mk() {
  mkdir $1 && cd $1
}

function aux(){
  echo "Checking for $1 process by name"
  ps aux | grep $1

}
function dead(){
  echo "killing process by id: $1"
  kill -9 $1
}

# Test if HTTP compression (RFC 2616 + SDCH) is enabled for a given URL.
# Send a fake UA string for sites that sniff it instead of using the Accept-Encoding header. (Looking at you, ajax.googleapis.com!)
httpcompression() {
  encoding="$(curl -LIs -H 'User-Agent: Mozilla/5 Gecko' -H 'Accept-Encoding: gzip,deflate,compress,sdch' "$1" | grep '^Content-Encoding:')" && echo "$1 is encoded using ${encoding#* }" || echo "$1 is not using any encoding"
}

# All the dig info
digga() {
  dig +nocmd "$1" any +multiline +noall +answer
}

# helpers
function bundlit {
  echo "Install gems to project?";
  select result in yes no cancel
  do
      case $result in
        yes ) bundle install --path vendor/bundle; break;;
        no ) bundle install; break;;
        cancel ) break;;
      esac
  done  
}


function unzip {
  echo "unzipping $1";
  tar -zxvf $1
}

function port {
  echo "returning pid of what is running on port: $1";
  lsof -t -i:$1
}
