[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/allibubba/oh-my-zsh.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
