[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/allibubba/oh-my-zsh.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule ".vim/bundle/PickAColor"]
	path = .vim/bundle/PickAColor
	url = git://github.com/vim-scripts/PickAColor.vim.git
[submodule ".vim/bundle/UltiSnips"]
	path = .vim/bundle/UltiSnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/jQuery"]
	path = .vim/bundle/jQuery
	url = git://github.com/vim-scripts/jQuery.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
